body {
  color: rgb(255, 255, 255);
}

.choice-container {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  background: rgba(45, 77, 142, 0.84);
  font-size: 15px;
  min-width: 800px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgb(6, 103, 247, 0.5);
  transform: scale(1.02);
  transition: transform 100ms;
}

.choice-prefix {
  padding: 16px 25px;
  color: white;
}
.choice-text {
  padding: 16px;
  width: 100%;
}
.correct {
  background: rgb(93, 150, 93);
}
.incorrect {
  background: rgb(174, 85, 60);
}
#hud {
  display: flex;
  justify-content: space-between;
}
.hud-prefix {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.hud-main-text {
  text-align: center;
}
#progressBar {
  width: 200px;
  height: 24px;
  border: 2px solid rgb(62, 150, 62);
  border-radius: 50px;
  overflow: hidden;
}
#progressBarFull {
  height: 100%;
  background: rgb(93, 150, 93);
  width: 0%;
}
@media only screen and (max-width: 768px) {
  .choice-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    background: rgba(45, 77, 142, 0.84);
    font-size: 15px;
    min-width: 300px;
  }
  .correct {
    background: rgb(93, 150, 93);
  }
  .incorrect {
    background: rgb(174, 85, 60);
  }
}
