@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

:root {
  background-color: rgb(29, 26, 26);
  background-image: url("https://images.unsplash.com/photo-1562840090-75fbdd647cd4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nova Square", arial;
}

h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 18px;
}
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.btn {
  font-size: 18px;
  padding: 10px 0;
  width: 150px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 8px;
  color: rgb(28, 26, 26);
  background: rgb(143, 174, 104);
  border-radius: 4px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgba(222, 246, 193, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: rgb(249, 243, 135);
}

.fa-crown {
  font-size: 18px;
  margin-left: 8px;
}

/* End Page CSS */

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
}

input {
  margin-bottom: 8px;
  width: 160px;
  padding: 12px;
  font-size: 15px;
  border: none;
  box-shadow: 0 3px 4px 0 rgba(222, 246, 193, 0.6);
}

input::placeholder {
  color: #aaa;
}

#username {
  margin-bottom: 24px;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 18px;
  color: white;
  text-align: center;
}

#savedScoreBtn {
  border: none;
}

.fa-home {
  margin-left: 8px;
  font-size: 18px;
  color: rgb (28, 26, 26);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 300px;
  }
  h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 18px;
    text-align: center;
  }
}
